
.theme2 .dojoFloatingPaneTitleBar {
    background: #B0C4DE;  /* lightsteelblue */
    line-height: 1.4em;
	color: #00368F;
}

/* minimize/maximize icons are specified by CSS only */
.theme2 .dojoFloatingPaneMinimizeIcon,
.theme2 .dojoFloatingPaneMaximizeIcon,
.theme2 .dojoFloatingPaneRestoreIcon,
.theme2 .dojoFloatingPaneCloseIcon {
	vertical-align: middle;
	height: 22px;
	width: 22px;
	float: right;
}
.theme2 .dojoFloatingPaneMinimizeIcon {
	background-image: url(images/minimize.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.theme2 .dojoFloatingPaneMaximizeIcon {
    background-image: url(images/maximize.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.theme2 .dojoFloatingPaneRestoreIcon {
    background-image: url(images/restore.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.theme2 .dojoFloatingPaneCloseIcon {
	background-image: url(images/close.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
