#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#set($sizes = $jetspeed.columnSizes)

#set($myPage = $jetspeed.page)

#set($myFragment = $jetspeed.currentFragment)

#set($decorator = $myPage.getDefaultDecorator($myFragment.getType()))

#set($actions = $jetspeed.PageDecoratorActions)

#set($editing = false)
#if($jetspeed.portletMode.toString() == "edit")
  #set($editing = true)    
  #set($lastColumn = $renderRequest.getAttribute("numberOfColumns") - 1)  
#end    
  
 #if($myFragment.getDecorator())
        #set($decorator = $myFragment.getDecorator())
  #end

  #if ($decorator)
        #set($decoTop = "${decorator}/header.vm")
        #set($decoBottom = "${decorator}/footer.vm")
  #end

<!-- Decorator  $decorator  ${decoTop} - ${decoBottom}-->


  #if (($decoTop) && ($myFragment == $myPage.getRootFragment()))
      #parse($jetspeed.getDecoration($decoTop, "layout").appRelativePath)
  #end

#set($layoutType =$portletConfig.getInitParameter("layoutType"))
#set($columnLayout = $renderRequest.getAttribute("columnLayout"))
#set($decorationFactory = $renderRequest.getAttribute("decorationFactory"))
#set($rc = $renderRequest.getAttribute("org.apache.jetspeed.request.RequestContext"))

<form name='portletform' action="$renderResponse.createActionURL()" method="post">
<input type='hidden' name='portlets'/>
<input type='hidden' name='page' value='$myPage'/>
</form>

#set ($dcnt = 0)

   #if($editing)
   #set($themeUrl = $renderResponse.createActionURL())
   $!themeUrl.setParameter("editingPage","$myPage.path")
<form name="themeForm" action="$themeUrl" method='post'>
     <label style='font-size:8pt;color:blue;padding-left: 9px;'>Theme:
     <select id='theme' name='theme' style='font-size:8pt;color:blue' onChange="themeForm.submit();">
        #foreach($td in $decorationFactory.getPageDecorations($rc))
          <option value='$td' #if($decorator == $td) SELECTED #end>$td
        #end
     </select>   
     </label>
<label style='font-size:8pt;color:blue;padding-left: 9px;'>Page:
<input id='newpage' name='jsPageName' style='font-size:8pt;color:blue'/></label>
<input id='layout' name='layout' type='hidden' value='$myFragment.Name'>
<input type="submit" name="jsSubmitPage" value="Add Page" />
</form>
   #end


#set($layoutClass = "portal-layout")
#if($myFragment != $myPage.getRootFragment())
  #set($layoutClass = "portal-nested-layout")
#end
<div id="portal-layout-$htmlUtil.getSafeElementId($myPage.path)" class="${layoutClass} ${layoutClass}-${layoutType}">
<table  width="100%" cellspacing="0" cellpadding="0" >
  <tr>
     #set ($sizeIndex = 0)
     #set ($layoutImageBase = "${jetspeed.pageBasePath}/content/images")
     #foreach($column in $columnLayout.columns)
        #if ($sizes)
          #if ($sizeIndex < $sizes.size())
             <td valign='top' width='$sizes.get($sizeIndex)'/>
          #else
	       <td valign="top">          
          #end
        #else
       <td  valign="top">
       #end
       #set ($sizeIndex = $sizeIndex + 1)     
       <table width="100%" class="portal-layout-column portal-layout-column-${layoutType}-${sizeIndex}">
       #foreach($f in $column)       
        <tr>
         <td width="100%">			
			#set($coords = $columnLayout.getCoordinate($f))	  
	        #set($col = $coords.x)
	        #set($lastRow = $columnLayout.getLastRowNumber($col))
			#set($row = $coords.y)
            #if($editing)<div id="_$f.id">        
            <div style="position:relative; top:10px; left:0; width:100%; height:100%;">
              <div id="_$f.id_toolBox"  >
               <table cellpadding="0" cellspacing="0" >
                 <tr>
                   <td></td>
                   <td align="center" onMouseover="this.style.backgroundColor='red'" onMouseout="this.style.backgroundColor=''">
                        #if($row > 0)
                         #set($upUrl = $renderResponse.createActionURL())    
                         $!upUrl.setParameter("move","1")
                         $!upUrl.setParameter("fragmentToMove","$f.id")
                         $!upUrl.setParameter("editingPage","$myPage.path")
                         <a href="$upUrl"><img src="#GetPageResource('images/movePortletUp.gif')" border="0" title="Move Portlet Up"/></a>
                       #end
                   </td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
                 <tr>
                   <td align="right" onMouseover="this.style.backgroundColor='red'" onMouseout="this.style.backgroundColor=''">
                        #if($lastColumn > 0 && $col > 0)            
                         #set($leftUrl = $renderResponse.createActionURL())    
                         $!leftUrl.setParameter("move","3")
                         $!leftUrl.setParameter("fragmentToMove","$f.id")
                         $!leftUrl.setParameter("editingPage","$myPage.path")
                         <a href="$leftUrl"><img src="#GetPageResource('images/movePortletLeft.gif')" border="0" title="Move Portlet Left"/></a>
                        #end
                   </td>
                   <td align="center" style="font-size:smaller; font-weight:bold" >
                      &nbsp;  Position &nbsp;
                   </td>
                   <td align="left" onMouseover="this.style.backgroundColor='red'" onMouseout="this.style.backgroundColor=''">
                        #if($lastColumn > 0 && $col < $lastColumn)
                         #set($rightUrl = $renderResponse.createActionURL())    
                         $!rightUrl.setParameter("move","4")
                         $!rightUrl.setParameter("fragmentToMove","$f.id")
                         $!rightUrl.setParameter("editingPage","$myPage.path")
                         <a href="$rightUrl"><img src="#GetPageResource('images/movePortletRight.gif')" border="0" title="Move Portlet Right"/></a>
                        #end
                    </td>
                    <td>
                         #set($deleter = $renderResponse.createActionURL())    
                         $deleter.setParameter("deleteId","$f.id")
                         $deleter.setParameter("page","$myPage")                         
                         &nbsp;<a href="$deleter"><img src="#GetPageResource('images/close.gif')" border="0" title="Remove Portlet"/></a>                    
                    </td>
                    <td>
   #set ($dcnt = $dcnt + 1)   
   #set($decUrl = $renderResponse.createActionURL())    
   $!decUrl.setParameter("fragmentToMove","$f.id")
   $!decUrl.setParameter("editingPage","$myPage.path")     
   #set ($temp = ".submit();")
<form name="portletForm$dcnt" action="$decUrl" method='post'>
<select id='decorator' name='decorator' style='font-size:8pt;color:blue;' onChange="portletForm$dcnt$temp">
       <option value=''>
       #foreach($pd in $decorationFactory.getPortletDecorations($rc))
          <option value='$pd' #if ($f.Decorator == $pd) SELECTED #end>$pd
       #end
</select>
</form>                   

                    </td>
                 </tr>
				 <tr>
					<td></td>
					<td align="center" onMouseover="this.style.backgroundColor='red'" onMouseout="this.style.backgroundColor=''">					  
					  #if($row < $lastRow)						
					    #set($downUrl = $renderResponse.createActionURL())	
			            $!downUrl.setParameter("move","2")
			            $!downUrl.setParameter("fragmentToMove","$f.id")
                        $!downUrl.setParameter("editingPage","$myPage.path")
					    <a href="$downUrl"><img src="#GetPageResource('images/movePortletDown.gif')" border="0" title="Move Portlet Down"/></a>
					  #end
					</td>
					<td></td>
					<td></td>
                    <td></td>
				 </tr>
			  </table>
			</div>
		 #end			
           ## get the decorated Portlet content
		  #if($f.type == "portlet")
	 $jetspeed.setCurrentFragment($f)	     
			 #parse($f.decoration.template)
		  #else		
	 	 	 $jetspeed.setCurrentFragment($f)
			 $f.renderedContent			
		  #end
           
          ##$jetspeed.decorateAndInclude($f)

		  #if($editing)
		 </div>
		</div>
       #end		

      </td>
	 </tr>
	   #end

    </table>
   </td>
   #end
  </tr>
</table>
</div>

#if (($decoBottom ) && ($myFragment == $myPage.getRootFragment()))
   #parse($jetspeed.getDecoration($decoBottom, "layout").appRelativePath)
#end