<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#
#set($theme = $request.getAttribute("org.apache.jetspeed.theme"))
#set($sizes = $jetspeed.columnSizes)
#set($myPage = $jetspeed.page)
#set($myFragment = $jetspeed.currentFragment)
#set($decorator = $myPage.getDefaultDecorator($myFragment.getType()))
#set($actions = $myFragment.decoration.actions)
#set($messages = $portletConfig.getResourceBundle($renderRequest.Locale))
#set($rootDecorator = $myPage.getRootFragment().decoration)

#if($myFragment.getDecorator())
  #set($decorator = $myFragment.getDecorator())
#end

#if($myFragment == $myPage.getRootFragment())
  #set($isRoot=true)
#end

#if($request.getAttribute("editing") == true)
  #set($editing = true)    
  #set($lastColumn = $renderRequest.getAttribute("numberOfColumns") - 1)  
#end    
   
<!-- Decorator  $decorator  ${decoTop} - ${decoBottom}-->
#if ($isRoot)
  #parse($myFragment.decoration.header)
   #set($layoutClass = "portal-nested-layout")
#else
  #defineLayoutObjects()
   #set($layoutClass = "portal-layout")
#end

#set($layoutType =$portletConfig.getInitParameter("layoutType"))
#set($columnLayout = $renderRequest.getAttribute("columnLayout"))
#set($decorationFactory = $renderRequest.getAttribute("decorationFactory"))
#set($rc = $renderRequest.getAttribute("org.apache.jetspeed.request.RequestContext"))

<div id="$renderResponse.namespace" class="${layoutClass} ${layoutClass}-${layoutType}">

#if($editing)
  <div class="layout-edit-bar">

    #if($isRoot)
      #getBoolProperty($allowChangePageTheme $rootDecorator "allow.change.page.theme" true)
      #getBoolProperty($allowAddPage $rootDecorator "allow.add.page" true)
    #else
      #set($allowChangePageTheme=false)
      #set($allowAddPage=false)
    #end

    #getIntProperty($maxLayoutNesting $rootDecorator "max.layout.nesting" 2)
    #if($request.getAttribute("fragmentNestingLevel") < $maxLayoutNesting)
      #set($allowAddLayout=true)
    #else
      #set($allowAddLayout=false)
    #end
     
    #getBoolProperty($allowChangeLayout $rootDecorator "allow.change.layout" true)
    #getBoolProperty($allowAddPortlet $rootDecorator "allow.add.portlet" true)
    
    <div class="layout-edit-bar-left">

      #set($form="f${renderResponse.namespace}")
      #set($formAction = "$renderResponse.createActionURL()")
      #set($submit = ".submit()")

      <form name="$form" action="$formAction" method='post'>
        #if ($allowChangePageTheme)
          <label>$messages.getString("portal.page.editing.theme")</label>
          <select id='theme' name='theme' onChange="$form$submit">
            #foreach($td in $decorationFactory.getPageDecorations($rc))
              <option value='$td' #if($rootDecorator.Name == $td) SELECTED #end>$td
            #end
          </select>   
        #end
        #if($allowAddLayout||$allowChangeLayout)
          <label>$messages.getString("portal.page.editing.layout")</label>
          <select id='layout' name='layout'>
            #foreach($ld in $decorationFactory.getLayouts($rc))     
              <option value='$ld.Name' #if($myFragment.Name == $ld.Name) SELECTED #end>$ld.DisplayName
            #end
          </select>
        #end
        #if ($allowChangeLayout)
          <input type="submit" name="jsChangeLayout" value="$messages.getString("portal.page.editing.changelayout")" />
        #end        
        #if($allowAddLayout)
          <input type="submit" name="jsAddLayout" value="$messages.getString("portal.page.editing.addlayout")" />
        #end    
        #if($allowAddPage)
          <label>$messages.getString("portal.page.editing.page")</label>
          <input id='newpage' name='jsPageName'/>
          <input type="submit" name="jsSubmitPage" value="$messages.getString("portal.page.editing.addpage")"/>
        #end
      </form>
    </div>    
    <div class="layout-edit-bar-right">
      #if($allowAddPortlet)
        <label>$messages.getString("portal.page.editing.portlet")</label>
        #set ($chooser = "${jetspeed.basePath}/system/customizer/portlet-selector.psml")
        <a href="#" onClick="portletform.action='$formAction';openWindow('$response.encodeURL($chooser)');return false">
          <img src="#GetPageResource('images/select.gif')" border="0" title="$messages.getString("portal.page.editing.addportlet")"/>
        </a>
      #end
    </div>
  </div>
#end

#set ($dcnt = 0) 
#set ($columnIndex = 0)

#if($editing)	
  #getBoolProperty($allowChangePortletDecorator $rootDecorator "allow.change.portlet.decorator" true)
#end
  
#foreach($column in $columnLayout.columns)
	  
  #set($columnFloat = $columnLayout.getColumnFloat($columnIndex))
	#set($columnWidth = $columnLayout.getColumnWidth($columnIndex))
	
	<div id="column_${myFragment.getId()}_${columnIndex}" 
	     class="portal-layout-column portal-layout-column-${layoutType}-${columnIndex}" 
	     style="float:${columnFloat}; width:${columnWidth};">
	     
	  #foreach($f in $column)  	     
      ## Set up coordinates for this fragment
      #set($coords = $columnLayout.getCoordinate($f))	  
      #set($col = $coords.x)
      #set($lastRow = $columnLayout.getLastRowNumber($col))
      #set($row = $coords.y)
			
      ## get the decorated Portlet content
		  <div class="portal-layout-cell portal-layout-cell-${layoutType}-${row}-${col}" >
		  
		    ## editing block
		    #if($editing)
		      <div class="portlet-edit-bar">
            #set ($dcnt = $dcnt + 1)   
            <form name="$form$dcnt" action="$formAction" method='post'>
              <input type="hidden" name="fragment" value="$f.id">
              <input type="hidden" name="move" value="">
              <input type="hidden" name="remove" value="">
              #if($f.type == "portlet")
                #set($fragmentType="Portlet")
                #if($allowChangePortletDecorator)
                  <select id='decorator' name='decorator' onChange="$form$dcnt$submit">
                    <option value=''>
                    #foreach($pd in $decorationFactory.getPortletDecorations($rc))
                      <option value='$pd' #if ($f.Decorator == $pd) SELECTED #end>$pd
                    #end
                  </select>
                #end
              #else
                #set($fragmentType="Layout")
              #end              
			        ## Move portlet left
			        #if($lastColumn > 0 && $col > 0)            
                <a href="#" onClick="${form}${dcnt}.move.value='3';$form$dcnt$submit;return false;" class="move-portlet-left">
                  <img src="#GetPageResource('images/movePortletLeft.gif')" border="0" title="$messages.getString("portal.page.editing.move${fragmentType}Left")"/>
                </a>
			        #end
			        ## Move portlet up	
			        #if($row > 0)			   
                <a href="#" onClick="${form}${dcnt}.move.value='1';$form$dcnt$submit;return false;" class="move-portlet-up">
                  <img src="#GetPageResource('images/movePortletUp.gif')" border="0" title="$messages.getString("portal.page.editing.move${fragmentType}Up")"/>
                </a>
			        #end			 
			        ## Remove portlet from page
              <a href="#" onClick="${form}${dcnt}.remove.value='y';$form$dcnt$submit;return false;" class="remove-portlet-from-apge">
                <img src="#GetPageResource('images/close.gif')" border="0" title="$messages.getString("portal.page.editing.remove${fragmentType}")"/>
              </a>			 
			        ## Move portlet down
              #if($row < $lastRow)						
                <a href="#" onClick="${form}${dcnt}.move.value='2';$form$dcnt$submit;return false;" class="move-portlet-down">
                  <img src="#GetPageResource('images/movePortletDown.gif')" border="0" title="$messages.getString("portal.page.editing.move${fragmentType}Down")"/>
                </a>
			        #end			 
			        ## Move portlet right
              #if($lastColumn > 0 && $col < $lastColumn)
                <a href="#" onClick="${form}${dcnt}.move.value='4';$form$dcnt$submit;return false;" class="move-portlet-right">
                  <img src="#GetPageResource('images/movePortletRight.gif')" border="0" title="$messages.getString("portal.page.editing.move${fragmentType}Right")"/>
                </a>
			        #end
            </form>			 
		      </div>
		    #end
		   
		    ## Now get the real content
	 	 	  $jetspeed.setCurrentFragment($f)	   
		    #if($f.type == "portlet")
			    #parse($f.decoration.template)
		    #else		
			    $f.renderedContent			
		    #end
		  </div>
		#end
	</div>
	#set ($columnIndex = $columnIndex + 1)  
#end
  
</div>  
  
<br style="clear:both;"/>

#if ($isRoot)
  <form name='portletform' action="" method="post">
    <input type='hidden' name='portlets'/>
    <input type='hidden' name='page' value='$myPage'/>
  </form>
  #parse($myFragment.decoration.footer)
#end
  
