#set($myPage = $jetspeed.page)

#set($myF = $jetspeed.currentFragment)

#set($myPE = $jetspeed.currentPortletEntity)
<!-- Begin portletstd.vm -->
<table width="100%" cellspacing"0" cellpadding="0">
<tr>
  <td bgcolor="${myPage.defaultSkin}">
  <table width="100%">
  <tr>
    <td>
      ${myPE.portletDefinition.name}
    </td>
    <td>
    </td>
  </tr>
  </table>
  </td>
</tr>
<tr>
  <td width="100%" valign="top">
    #if (!$jetspeed.isHidden($myF))
      $jetspeed.include($myF)
    #end
  </td>
</tr>
</table>
<!--  End portletstd.vm -->