#*
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#
#set($rc = $request.getAttribute("org.apache.jetspeed.request.RequestContext"))
#set($portalContextPath = $rc.request.getContextPath())

#if (!$jetspeed.isAjaxCustomizationEnabled())
        </div>

        <!-- Left Navigations Menu Table Data -->
        #set($navigationsStandardMenu = $site.getMenu("navigations"))
        #if(!$navigationsStandardMenu.empty)
        <div class="visible-xs-block col-xs-12">
            <div id="navcolumn">
                #includeLinksWithIconNavigation($navigationsStandardMenu $TOP_TO_BOTTOM)
            </div>
        </div>
        #end

      </div>
#end

#set($navigationsStandardMenu = $site.getMenu("navigations"))
#if(!$navigationsStandardMenu.empty)
<div class="float-icon visible-xs-inline" target="#float-menu">
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="col-xs-12 hidden" id="float-menu">
    <div id="navcolumn">
        #includeLinksWithIconNavigation($navigationsStandardMenu $TOP_TO_BOTTOM)
    </div>
</div>
#end

#if ($jetspeed.isAjaxCustomizationEnabled())
<script src="#BaseHref()jetui/engine/portal.js"></script>
<div id="jsPortletTemplate" class="portal-layout-cell yui-dd-draggable yui-dd-drop" style="display: none">
  <div class="portlet ${layoutDecoration.name}">
    <div class="PTitle">
      <div class="PTitleContent">Loading...</div>
      <div class="PActionBar">
        <span style='cursor: pointer; z-index: 1000;' id='jetspeed-close-XXX' title="close" class="portlet-action-close"><img src="$portalContextPath/decorations/portlet/jetspeed/images/close.gif" alt="Close" border="0" /></span>
      </div>
    </div>
    <div class="PContentBorder">
      <div class="PContent"></div>
    </div>
  </div>
</div>
#end
</div>
<footer>
    <p>
      <img src="#GetPageResource('images/Jetspeed_blue_sm.png')" alt="Jetspeed 2 Powered" border="0" />
    </p>
    <script type="text/javascript">
        $(document.body).on("click", ".float-icon", function() {
            $($(this).attr("target")).toggleClass("hidden");
        });
    </script>
</footer>
</body>
</html>
