#*
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*#
Hello  $!{map.get("user.name.given")} $!{map.get("user.name.family")}:

You have requested a new password for your account. 
The account username: $!{map.get("username")}
The new password is : $!{map.get("password")}
To activate the new password you MUST click on the following link:
$!{map.get("returnURL")}
If you have received this email in error, and do NOT want to update your password,
please do NOT click on the link above, and your account will remain using your
original password.

Thanks,  

The Jetspeed Team.

