# jetspeed required properties
org.apache.jetspeed.server.home = /tomcat4
org.apache.jetspeed.catalina.version.major = 4
org.apache.jetspeed.server.shared = ${org.apache.jetspeed.server.home}/shared/lib
org.apache.jetspeed.deploy.war.dir = ${org.apache.jetspeed.server.home}/webapps
org.apache.jetspeed.services.autodeployment.user = j2deployer
org.apache.jetspeed.services.autodeployment.password = j2deployer

# jetspeed db build properties example for Hsqldb
# Override the database connection and driverproperties in your ${USER_HOME}/build.properties appropriately
# See:
#   http://portals.apache.org/jetspeed-2/database.html

org.apache.jetspeed.test.database.url = jdbc:hsqldb:hsql://127.0.0.1:9001
org.apache.jetspeed.test.database.driver = org.hsqldb.jdbcDriver
org.apache.jetspeed.test.database.user = sa
org.apache.jetspeed.test.database.password =

org.apache.jetspeed.test.jdbc.drivers.path=
org.apache.jetspeed.test.database.default.name=hsql
org.apache.jetspeed.test.database.ojb.platform=Hsqldb

org.apache.jetspeed.production.database.url = jdbc:hsqldb:hsql://127.0.0.1:9001
org.apache.jetspeed.production.database.driver = org.hsqldb.jdbcDriver
org.apache.jetspeed.production.database.user = sa
org.apache.jetspeed.production.database.password =

org.apache.jetspeed.production.jdbc.drivers.path=
org.apache.jetspeed.production.database.default.name=hsql
org.apache.jetspeed.production.database.ojb.platform=Hsqldb
