<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

  $Id:$
-->

<!--
The Maven 2 profile is one place to set user or project specific settings.

This settings file is useful for building the Apache Portals Jetspeed from the 
subversion codebase. It is also useful for choosing a custom database to use 
with Jetspeed. The default database is Apache DB Derby database.

You will need to provide your own value anywhere you see the text SET*.

This file is placed in ~/.m2 by convention. User defined profiles must be 
defined or extended with these settings to perform a complete J2 build and 
deployment. -->
<settings xmlns="http://maven.apache.org/POM/4.0.0">

    <!-- Local Repository Location -->

    <!--
    <localRepository>c:/maven2/repository</localRepository>
    -->

    <!-- Jetspeed-2 Profiles -->

    <profiles>

        <!-- Jetspeed Settings Profile -->
        <profile>
            <id>jetspeed-settings</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
    
                <!-- Build profiles configuration -->

                <!--
                <org.apache.jetspeed.env.deploy.target>tomcat</org.apache.jetspeed.env.deploy.target>
                <org.apache.jetspeed.env.deploy.type>full</org.apache.jetspeed.env.deploy.type>
                <org.apache.jetspeed.env.deploy.db.psml>false</org.apache.jetspeed.env.deploy.db.psml>
                -->

                <!-- Jetspeed-2 deployment properties -->

                <org.apache.jetspeed.server.home>/SETPATH/apache-tomcat-5.5.20</org.apache.jetspeed.server.home>
                <org.apache.jetspeed.catalina.version.major>5.5</org.apache.jetspeed.catalina.version.major>
                <org.apache.jetspeed.services.autodeployment.server>localhost</org.apache.jetspeed.services.autodeployment.server>
                <org.apache.jetspeed.services.autodeployment.port>8080</org.apache.jetspeed.services.autodeployment.port>
                <!-- tomcat-users.xml must include a user with the manager role -->
                <org.apache.jetspeed.services.autodeployment.user>j2deployer</org.apache.jetspeed.services.autodeployment.user>
                <org.apache.jetspeed.services.autodeployment.password>SETPASSWORD</org.apache.jetspeed.services.autodeployment.password>
    
            </properties>
        </profile>

        <!-- The appropriate database profile may already be defined here. Please verify the settings 

           Each database platform defines two schema. One for testing and one for production.
           You will need to copy your driver jar(s) to the ${org.apache.jetspeed.server.home}/shared/lib
           directory and define the name, url, driver, username, and password for testing and production. -->

        <!-- Jetspeed Derby Embedded Profile (see activeProfiles) -->
        <profile>
            <id>jetspeed-derby-embedded</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
    
                <!-- Derby embedded database properties -->
                <org.apache.jetspeed.test.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/derby-10.2.1.6.jar</org.apache.jetspeed.test.jdbc.drivers.path>
                <org.apache.jetspeed.test.database.default.name>derby</org.apache.jetspeed.test.database.default.name>
                <org.apache.jetspeed.test.database.url>jdbc:derby:/tmp/j2test;create=true</org.apache.jetspeed.test.database.url>
                <org.apache.jetspeed.test.database.driver>org.apache.derby.jdbc.EmbeddedDriver</org.apache.jetspeed.test.database.driver>
                <org.apache.jetspeed.test.database.user></org.apache.jetspeed.test.database.user>
                <org.apache.jetspeed.test.database.password>SETPASSWORD</org.apache.jetspeed.test.database.password>
                <org.apache.jetspeed.production.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/derby-10.2.1.6.jar</org.apache.jetspeed.production.jdbc.drivers.path>
                <org.apache.jetspeed.production.database.default.name>derby</org.apache.jetspeed.production.database.default.name>
                <org.apache.jetspeed.production.database.url>jdbc:derby:/tmp/j2;create=true</org.apache.jetspeed.production.database.url>
                <org.apache.jetspeed.production.database.driver>org.apache.derby.jdbc.EmbeddedDriver</org.apache.jetspeed.production.database.driver>
                <org.apache.jetspeed.production.database.user></org.apache.jetspeed.production.database.user>
                <org.apache.jetspeed.production.database.password>SETPASSWORD</org.apache.jetspeed.production.database.password>
    
            </properties>
        </profile>

        <!-- Jetspeed Derby Network Profile -->
        <profile>
            <id>jetspeed-derby-network</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
    
                <!-- Derby network database properties -->

                <org.apache.jetspeed.test.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/derbyclient-10.2.1.6.jar</org.apache.jetspeed.test.jdbc.drivers.path>
                <org.apache.jetspeed.test.database.default.name>derby</org.apache.jetspeed.test.database.default.name>
                <org.apache.jetspeed.test.database.url>jdbc:derby://localhost/j2test;create=true</org.apache.jetspeed.test.database.url>
                <org.apache.jetspeed.test.database.driver>org.apache.derby.jdbc.ClientDriver</org.apache.jetspeed.test.database.driver>
                <org.apache.jetspeed.test.database.user>SETUSERNAME</org.apache.jetspeed.test.database.user>
                <org.apache.jetspeed.test.database.password>SETPASSWORD</org.apache.jetspeed.test.database.password>
                <org.apache.jetspeed.production.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/derbyclient-10.2.1.6.jar</org.apache.jetspeed.production.jdbc.drivers.path>
                <org.apache.jetspeed.production.database.default.name>derby</org.apache.jetspeed.production.database.default.name>
                <org.apache.jetspeed.production.database.url>jdbc:derby://localhost/j2;create=true</org.apache.jetspeed.production.database.url>
                <org.apache.jetspeed.production.database.driver>org.apache.derby.jdbc.ClientDriver</org.apache.jetspeed.production.database.driver>
                <org.apache.jetspeed.production.database.user>SETUSERNAME</org.apache.jetspeed.production.database.user>
                <org.apache.jetspeed.production.database.password>SETPASSWORD</org.apache.jetspeed.production.database.password>
    
            </properties>
        </profile>

        <!-- Jetspeed MySQL Profile -->
        <profile>
            <id>jetspeed-mysql</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
    
                <!-- MySQL database properties -->

                <org.apache.jetspeed.test.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/mysql-connector-java-5.0.4.jar</org.apache.jetspeed.test.jdbc.drivers.path>
                <org.apache.jetspeed.test.database.default.name>mysql</org.apache.jetspeed.test.database.default.name>
                <org.apache.jetspeed.test.database.url>jdbc:mysql://localhost/j2test</org.apache.jetspeed.test.database.url>
                <org.apache.jetspeed.test.database.driver>com.mysql.jdbc.Driver</org.apache.jetspeed.test.database.driver>
                <org.apache.jetspeed.test.database.user>root</org.apache.jetspeed.test.database.user>
                <org.apache.jetspeed.test.database.password>SETPASSWORD</org.apache.jetspeed.test.database.password>
                <org.apache.jetspeed.production.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/mysql-connector-java-5.0.4.jar</org.apache.jetspeed.production.jdbc.drivers.path>
                <org.apache.jetspeed.production.database.default.name>mysql</org.apache.jetspeed.production.database.default.name>
                <org.apache.jetspeed.production.database.url>jdbc:mysql://localhost/j2</org.apache.jetspeed.production.database.url>
                <org.apache.jetspeed.production.database.driver>com.mysql.jdbc.Driver</org.apache.jetspeed.production.database.driver>
                <org.apache.jetspeed.production.database.user>root</org.apache.jetspeed.production.database.user>
                <org.apache.jetspeed.production.database.password>SETPASSWORD</org.apache.jetspeed.production.database.password>
    
            </properties>
        </profile>

        <!-- Jetspeed MSSQL Profile -->
        <profile>
            <id>jetspeed-mssql</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
    
                <!-- MSSQL database properties -->

                <org.apache.jetspeed.test.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/jtds-1.2.jar</org.apache.jetspeed.test.jdbc.drivers.path>
                <org.apache.jetspeed.test.database.default.name>mssql</org.apache.jetspeed.test.database.default.name>
                <org.apache.jetspeed.test.database.url>jdbc:jtds:sqlserver://localhost:1433/j2test</org.apache.jetspeed.test.database.url>
                <org.apache.jetspeed.test.database.driver>net.sourceforge.jtds.jdbc.Driver</org.apache.jetspeed.test.database.driver>
                <org.apache.jetspeed.test.database.user>sa</org.apache.jetspeed.test.database.user>
                <org.apache.jetspeed.test.database.password>sa</org.apache.jetspeed.test.database.password>
                <org.apache.jetspeed.production.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/jtds-1.2.jar</org.apache.jetspeed.production.jdbc.drivers.path>
                <org.apache.jetspeed.production.database.default.name>mssql</org.apache.jetspeed.production.database.default.name>
                <org.apache.jetspeed.production.database.url>jdbc:jtds:sqlserver://localhost:1433/j2</org.apache.jetspeed.production.database.url>
                <org.apache.jetspeed.production.database.driver>net.sourceforge.jtds.jdbc.Driver</org.apache.jetspeed.production.database.driver>
                <org.apache.jetspeed.production.database.user>sa</org.apache.jetspeed.production.database.user>
                <org.apache.jetspeed.production.database.password>sa</org.apache.jetspeed.production.database.password>
    
            </properties>
        </profile>

        <!-- Jetspeed HSQLDB Profile -->
        <profile>
            <id>jetspeed-hsql-embedded</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
    
                <!-- HSQLDB embedded database properties -->

                <org.apache.jetspeed.test.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/hsqldb-1.8.0.jar</org.apache.jetspeed.test.jdbc.drivers.path>
                <org.apache.jetspeed.test.database.default.name>hsql</org.apache.jetspeed.test.database.default.name>
                <org.apache.jetspeed.test.database.url>jdbc:hsqldb:file:/tmp/j2test;shutdown=true</org.apache.jetspeed.test.database.url>
                <org.apache.jetspeed.test.database.driver>org.hsqldb.jdbcDriver</org.apache.jetspeed.test.database.driver>
                <org.apache.jetspeed.test.database.user>sa</org.apache.jetspeed.test.database.user>
                <org.apache.jetspeed.test.database.password>SETPASSWORD</org.apache.jetspeed.test.database.password>
                <org.apache.jetspeed.production.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/hsqldb-1.8.0.jar</org.apache.jetspeed.production.jdbc.drivers.path>
                <org.apache.jetspeed.production.database.default.name>hsql</org.apache.jetspeed.production.database.default.name>
                <org.apache.jetspeed.production.database.url>jdbc:hsqldb:file:/tmp/j2;shutdown=true</org.apache.jetspeed.production.database.url>
                <org.apache.jetspeed.production.database.driver>org.hsqldb.jdbcDriver</org.apache.jetspeed.production.database.driver>
                <org.apache.jetspeed.production.database.user>sa</org.apache.jetspeed.production.database.user>
                <org.apache.jetspeed.production.database.password>SETPASSWORD</org.apache.jetspeed.production.database.password>
    
            </properties>
        </profile>

        <!-- Jetspeed Oracle Profile -->
        <profile>
            <id>jetspeed-oracle</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>

                <!-- Oracle database properties -->

				<org.apache.jetspeed.test.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/ojdbc14.jar</org.apache.jetspeed.test.jdbc.drivers.path>
				<org.apache.jetspeed.test.database.default.name>oracle</org.apache.jetspeed.test.database.default.name>
				<org.apache.jetspeed.test.database.url>jdbc:oracle:thin:@localhost:1521:SETINSTANCE</org.apache.jetspeed.test.database.url>
				<org.apache.jetspeed.test.database.driver>oracle.jdbc.driver.OracleDriver</org.apache.jetspeed.test.database.driver>
				<org.apache.jetspeed.test.database.user>SETUSERNAME</org.apache.jetspeed.test.database.user>
				<org.apache.jetspeed.test.database.password>SETPASSWORD</org.apache.jetspeed.test.database.password>
				<org.apache.jetspeed.production.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/ojdbc14.jar</org.apache.jetspeed.production.jdbc.drivers.path>
				<org.apache.jetspeed.production.database.default.name>oracle</org.apache.jetspeed.production.database.default.name>
				<org.apache.jetspeed.production.database.url>jdbc:oracle:thin:@localhost:1521:SETINSTANCE</org.apache.jetspeed.production.database.url>
				<org.apache.jetspeed.production.database.driver>oracle.jdbc.driver.OracleDriver</org.apache.jetspeed.production.database.driver>
				<org.apache.jetspeed.production.database.user>SETUSERNAME</org.apache.jetspeed.production.database.user>
				<org.apache.jetspeed.production.database.password>SETPASSWORD</org.apache.jetspeed.production.database.password>
    
            </properties>
        </profile>

        <!-- Jetspeed PostgreSQL Profile -->
        <profile>
            <id>jetspeed-postgresql</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>

                <!-- PostgreSQL database properties -->
				<org.apache.jetspeed.test.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/postgresql-8.1-405.jdbc3.jar</org.apache.jetspeed.test.jdbc.drivers.path>
				<org.apache.jetspeed.test.database.default.name>postgres</org.apache.jetspeed.test.database.default.name>
				<org.apache.jetspeed.test.database.url>jdbc:postgresql://localhost/SETDATABASENAME</org.apache.jetspeed.test.database.url>
				<org.apache.jetspeed.test.database.driver>org.postgresql.Driver</org.apache.jetspeed.test.database.driver>
				<org.apache.jetspeed.test.database.user>SETUSERNAME</org.apache.jetspeed.test.database.user>
				<org.apache.jetspeed.test.database.password>SETPASSWORD</org.apache.jetspeed.test.database.password>
				<org.apache.jetspeed.production.jdbc.drivers.path>${org.apache.jetspeed.server.home}/shared/lib/postgresql-8.1-405.jdbc3.jar</org.apache.jetspeed.production.jdbc.drivers.path>
				<org.apache.jetspeed.production.database.default.name>postgres</org.apache.jetspeed.production.database.default.name>
				<org.apache.jetspeed.production.database.url>jdbc:postgresql://localhost/SETDATABASENAME</org.apache.jetspeed.production.database.url>
				<org.apache.jetspeed.production.database.driver>org.postgresql.Driver</org.apache.jetspeed.production.database.driver>
				<org.apache.jetspeed.production.database.user>SETUSERNAME</org.apache.jetspeed.production.database.user>
				<org.apache.jetspeed.production.database.password>SETPASSWORD</org.apache.jetspeed.production.database.password>
    
            </properties>
        </profile>
        
    </profiles>

    <activeProfiles>

        <!-- Apache DB Derby Embedded is the default Jetspeed database -->

        <activeProfile>jetspeed-derby-embedded</activeProfile>
        <activeProfile>jetspeed-db-embedded-derby</activeProfile>

        <!-- Apache DB Derby Network database -->

        <!-- Uncomment this if you are using the Apache DB Derby Network Server
             database with the ClientDriver.
        <activeProfile>jetspeed-derby-network</activeProfile> -->

        <!-- MSSQL database -->

        <!-- Uncomment this if you are using the MSSQL database
        <activeProfile>jetspeed-mssql</activeProfile> -->

        <!-- MySQL database -->

        <!-- Uncomment this if you are using the MySQL database
        <activeProfile>jetspeed-mysql</activeProfile> -->

        <!-- HSQLDB embedded database -->

        <!-- Uncomment if you are using the hsqldb.org database
        <activeProfile>jetspeed-hsql-embedded</activeProfile>
        <activeProfile>jetspeed-db-embedded-hsql</activeProfile> -->

        <!-- Oracle database -->

        <!-- Uncomment this if you are using the Oracle database
        <activeProfile>jetspeed-oracle</activeProfile> -->

        <!-- Drivers path configured database profile -->

        <!-- <activeProfile>jetspeed-db-drivers-path</activeProfile> -->

    </activeProfiles>

</settings>
