#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#**

@author <a href="mailto:taylor@apache.org">David Sean Taylor</a>
@version $Id: group-details.vm 348264 2005-11-22 22:06:45Z taylor $

*#

<script>
function openWindow(pipeline)
{	
    var vWinUsers = window.open(pipeline, 'UserPicker', 'status=no,resizable=yes,width=200,height=300,scrollbars=yes');
    vWinUsers.opener = self;
	vWinUsers.focus();
}
</script>

#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))

#if ($statusMsg)
#parse ('/WEB-INF/view/status-include.vm')
#end
#if ($group)
#set ($newGroup = "false")
#else
#set ($newGroup = "true")
#end

<form name='groupForm' action="$renderResponse.createActionURL()" method="post">
<table>
  <tr colspan="2" align="right">
    <td nowrap class="portlet-section-alternate" align="right">$MESSAGES.getString('groupname')&nbsp;</td>
    <td class="portlet-section-body" align="left">
      <input type="text" name='group' size="40" value="$!group" 
       class="portlet-form-field-label"
      #if ($newGroup == "false") readonly #end
      >
    </td>
  </tr>
</table>

#if ($newGroup == "true")
<input type="submit" name="group.action.Save" value="$MESSAGES.getString('save')" class="portlet-form-button"/>
#end
</form>	      

#if ($newGroup == "false")
<form name='securityform' action="$renderResponse.createActionURL()" method="post">
<table cellpadding=0 cellspacing=1 border=0 width='100%' >
#if ($tableSize > 0)
  <tr>
    #foreach ($column in $title)      
      <th align='center' class="portlet-section-header" nowrap width="260">
        $column
      </th>
     <th class="portlet-section-header" width="10"></th>
     <th width="100%"/>
    #end
  </tr>
#end  
  #foreach ( $user in $table )
  <tr>
    #if ($velocityCount % 2 == 0)
       #set($rowstyle = "portlet-section-body")
    #else
       #set($rowstyle = "portlet-section-alternate")
    #end  
	  <td class="$rowstyle" nowrap width="260">
	    <div align="center">$user</div>
	  </td>
	  <td class="$rowstyle" width="10">
  	    <input type="checkbox" name="box_$user"/>
	  </td>
     <td width="100%"/>	  
   </tr>
  #end
</table>

<table>
<tr>
  <td>
   <input type="submit" name="group.action.Add_New_Group" value="$MESSAGES.getString('addNewGroup')" class="portlet-form-button"  />
  </td>
  <td>
   <input onclick="javascript:openWindow('$userChooser')" type="submit" name="group.action.Add_Users_To_Group" value="$MESSAGES.getString('adduserstogroup')" class="portlet-form-button"  />
  </td>  
#if ($tableSize > 0)  
  <td>
   <input type="submit" name="group.action.Remove_Checked_Users" value="$MESSAGES.getString('removecheckedusers')" class="portlet-form-button" />
  </td>    
#end
  <td>
   <input type="submit" name="group.action.Remove_Group" value="$MESSAGES.getString('removegroup')" class="portlet-form-button" />
  </td>  
</tr>
</table>
<input type='hidden' name='users'/>
<input type='hidden' name='group' value='$group'/>

</form>


#end

