#set($table = $jetspeed.columns)

#set($myPage = $jetspeed.page)

#set($myFragment = $jetspeed.currentFragment)

#set($portletEntity = $jetspeed.currentPortletEntity)

#set($decorator = $myPage.getDefaultDecorator($myFragment.getType()))

  
 #if($myFragment.getDecorator())
        #set($decorator = $myFragment.getDecorator())
  #end

  #if ($decorator)
        #set($decoTop = "${decorator}-top.vm")
        #set($decoBottom = "${decorator}-bottom.vm")
  #end

<!-- Decorator  $decorator  ${decoTop}.vm-${decoBottom}.vm-->

  #if (($decoTop) && ($myFragment == $myPage.getRootFragment()))
      #parse($jetspeed.getTemplate($decoTop).appRelativePath)
  #end

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>

     #foreach($entry in $table)
    <td valign="top">
       <table width="100%">
       #foreach($f in $entry)       
        <tr>
       	   	<td width="100%">
               #if (!$jetspeed.isHidden($f))
                ## get the decorated Portlet content
                  $jetspeed.decorateAndInclude($f)                
               #end
     </td></tr>
      #end
     </table></td>
   #end
  </tr>
</table>

## Reset the JetspeedPowerTool to the orignal, root fragment
## $jetspeed.setCurrentFragment($myFragment)


#if (($decoBottom ) && ($myFragment == $myPage.getRootFragment()))
   #parse($jetspeed.getTemplate($decoBottom).appRelativePath)
#end
