<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC  "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <description>Spring Portlet Components</description>

  <!-- Transform -->
  <bean id="transform" 
  	   class="org.apache.portals.applications.transform.impl.JetspeedTransform" 
   >
  </bean>

  <bean id="transformCache" 
  	   class="org.apache.portals.applications.transform.impl.MemoryTransformCache" 
   >
       <constructor-arg index="0">
			<ref bean="transform"/>
		</constructor-arg>       
  	   <!-- cache size -->
  	   <constructor-arg index="1"><value>100</value></constructor-arg>
  	   <!-- eviction percentage -->
  	   <constructor-arg index="2"><value>10</value></constructor-arg>
  	   <!-- enable cache -->
  	   <constructor-arg index="3"><value>true</value></constructor-arg>
  	   <!-- debug flag -->
  	   <constructor-arg index="4"><value>true</value></constructor-arg>

  </bean>
    
    
</beans>