#*
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*#
您好  $!{map.get("user.name.given")} $!{map.get("user.name.family")}:

您已经请求了一个新的密码。
您的帐号: $!{map.get("username")}
新 密 码: $!{map.get("password")}
您<b>必须</b>点击下面的链接才能激活新密码:
$!{map.get("returnURL")}
如果您接受这封Email有错误，请<b>不要</b>更新您的密码，
请您<b>不要</b>点击上面的链接，您的帐号的密码将不会改变。

此致
敬礼

The Jetspeed Team.

