dojo.require('dojo.widget.*');
dojo.require('dojo.widget.Tree');
dojo.require("dojo.widget.Button");
dojo.require('dojo.widget.Checkbox');
dojo.require('dojo.widget.Dialog');
dojo.require("dojo.widget.TabContainer");
dojo.require("dojo.widget.ContentPane");
dojo.require("dojo.widget.LayoutContainer");
dojo.require("dojo.widget.Manager");
dojo.hostenv.setModulePrefix('jetspeed.ui.widget', '../desktop/widget');
dojo.hostenv.setModulePrefix('jetspeed.desktop', '../desktop/core');
dojo.require("jetspeed.ui.widget.EditorTable");
dojo.require('jetspeed.desktop.compatibility');
