<script language='JavaScript' src='/idtb/scripts/idtb.js'></script>

#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))

#if ($statusMsg)
#parse ('/WEB-INF/view/status-include.vm')
#end

<table cellpadding=0 cellspacing=1 border=0 width='100%' >
  <tr>
     <th width='12'></th>
    #foreach ($column in $title)      
      <th align='center' class="portlet-section-header" width="100%" nowrap>
        $column
      </th>
    #end
  </tr>
  #foreach ( $user in $table )
  <tr>
    #if ($velocityCount % 2 == 0)
       #set($rowstyle = "portlet-section-body")
    #else
       #set($rowstyle = "portlet-section-alternate")
    #end  
	#set ($action = $renderResponse.createActionURL())
	$action.setParameter("user", $user)           
	   #if ($selected == $user)
       <td class="$rowstyle" nowrap width='12'>
         <img src="/security/images/selected.gif" />
       </td>	 	
       #else
       <td class="$rowstyle" nowrap width='12'>
         &nbsp;
       </td>             
       #end
	  <td class="$rowstyle" nowrap width="100%">
	    <div align="center"><a href='$action'>$user</a></div>
	  </td>
   </tr>
  #end
</table>

<hr/>

<!-- controls -->
<table width="200" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    #if ($prev)
      <td valign="middle" height="30">
        <div align="center">
          <form action="$renderResponse.createActionURL()" method="post">
          	<input type='hidden' name='db.browser.action' value='first' />                    
            <input class="portlet-form-button" type="submit" value="<<">
            <input type="hidden" name="start" value="0">
          </form>
        </div>
      </td>  
      <td valign="middle" height="30">
        <div align="center">
          <form action="$renderResponse.createActionURL()" method="post">
          	<input type='hidden' name='db.browser.action' value='prev'/>                    
            <input class="portlet-form-button" type="submit" value="<">
            <input type="hidden" name="start" value="$prev">
          </form>
        </div>
      </td>
    #end
    #if ($tableSize > 0)
      <form action="$renderResponse.createActionURL()" method="post">
      <td valign="middle" height="30">
        <div align="center">
          	<input type='hidden' name='db.browser.action' value='change'/>                    
            <input type="input" name='start' size='5' value="$start" class="portlet-form-field-label">
        </div>
      </td>  
      <td valign="middle" height="30">
        <div align="center">
            <input type="input" readonly size='10' value="of $tableSize" class="portlet-form-field-label">            
        </div>
      </td>  
      <td valign="middle" height="30">
        <div align="center">
            <input class="portlet-form-button" type="submit" value="Go">            
        </div>
      </td>  

      </form>

      
    #end    
    #if ($next)
      <td valign="middle">
        <div align="center">
          <form action="$renderResponse.createActionURL()" method="post">
          	<input type='hidden' name='db.browser.action' value='next'/>          
            <input class="portlet-form-button" type="submit" value=">">
            <input type="hidden" name="start" value="$next">
          </form>
        </div>
      </td>
      <td valign="middle" height="30">
        <div align="center">
          <form action="$renderResponse.createActionURL()" method="post">
          	<input type='hidden' name='db.browser.action' value='last'/>                    
            <input class="portlet-form-button" type="submit" value=">>">
            <input type="hidden" name="start" value="$tableSize">
          </form>
        </div>
      </td>  
    #end
    #if ($tableSize > 0)
      <td valign="middle">
        <div align="center">
          <form action="$renderResponse.createActionURL()" method="post">
          	<input type='hidden' name='db.browser.action' value='refresh'/>
            <input class="portlet-form-button" type="submit" name="eventSubmit_doRefresh" value="Refresh" />
          </form>
        </div>
      </td>
    #end
  </tr>
</table>
<form action="$renderResponse.createActionURL()" method="post">
  	<input type='hidden' name='db.browser.action' value='search'/>                    
  	<input type='hidden' name='searchColumn' value='1'/>                      	
    <input class="portlet-form-button" type="submit" value="Search">
	<input type="text" name="searchString" size="30" value="" class="portlet-form-field-label">    
</form>
