<js>
    <status>$status</status>
    <action>getportlets</action>
    
    <portlets>
    
        <portlet name=“myPortlet” id=“1234”>
            <position><col>0</col><row>1</row></position>
            <parameters>
                <param>
                    <name>moveable</name>
                    <value>true</value>
                </param>
            </parameters>
        </portlet>
        
    </portlets>
    
</js>
