<js>
    <status>$status</status>
    <action>$action</action>
    
    <portlets>
#foreach ($portlet in $portlets)    
        <portlet name="$portlet.Name" displayName="$!portlet.DisplayName" description="$!portlet.Description" image="$portlet.Image"/>
#end        
    </portlets>
    
</js>
