#if ($format == "json")
#if ($type == "portletDecorations")
[
#foreach($p in $portletDecorations)    
#if($velocityCount > 1),#end["$p", "$p"]
#end        
]
#elseif ($type == "pageDecorations")
[
#foreach($p in $pageDecorations)    
#if($velocityCount > 1),#end["$p", "$p"]
#end        
]
#elseif ($type == "desktopThemes")
[
#foreach($dt in $desktopThemes)    
#if($velocityCount > 1),#end["$dt", "$dt"]
#end 
]
#elseif ($type == "layouts")
[
#foreach($l in $layouts)    
#if($velocityCount > 1),#end["$l.DisplayName", "$l.Name"]
#end        
]
#end
#else    
<js>
    <status>$status</status>
    <action>$action</action>    
    <layouts>    
#foreach($l in $layouts)    
    <layout>$l.DisplayName</layout>    
#end        
    </layouts>
    <page-decorations>
#foreach($p in $pageDecorations)    
    <page-decoration>$p</page-decoration>    
#end    
    </page-decorations>
    <portlet-decorations>
#foreach($p in $portletDecorations)    
    <portlet-decoration>$p</portlet-decoration>    
#end    
    </portlet-decorations>
    <desktop-themes>
#foreach($dt in $desktopThemes)    
    <desktop-theme>$dt</desktop-theme>    
#end 
    </desktop-themes>
</js>
#end   
