<?xml version="1.0"?>
<js>
    <status>$status</status>
    <action>$action</action>
    
    <results>
#foreach ($result in $results)    
        $result
#end        
    </results>
    
</js>
