
<h2 class="portlet-section-header">Edit Preferences</h2>

<form action="$renderResponse.createActionURL()" method="post">
<table>
#foreach ($pref in $prefs)
#prefField($pref.Key $pref.Value "40")
#end
<hr/>
#form4ColumnCell("Destination URL" $DestinationURL 30 "DestinationURL")
#form4ColumnCell("SSO Site (empty for all)" $SSOSite 30 "SSOSite")
</table>
<input type="submit" name="Save" value="Save" />
</form>


