<javascript>
function getWindowState() {
  return "$!windowState";
}
</javascript>
<center>
    <object width="$!WIDTH" height="$!HEIGHT">
        <param name="movie" value="$!SRC"/>
        <embed src="$!SRC" width="$!WIDTH" height="$!HEIGHT"/>
    </object>
</center>

