<h1>SSO IFrame Demo Help</h1>
<div class="portlet-msg-info">
To use the SSO IFrame Demo with URL-based authentication, you will need to enter the following SSO<br/>
URL preferences for the URL parameter names (principal, credential) to work with the  <b>/demo/sso-demo</b> site:<br/>
</div>
<br/>
<table border="1" cellspacing="1" cellpadding="3">
<tr>
<th class="portlet-section-header">sso.url.Principal</th>	
<th class="portlet-section-header">sso.url.Crendential</th>
</tr>
<tr>
<td class='portlet-section-body'>sso-principal</td>	
<td class='portlet-section-body'>sso-credential</td>
</tr>
</table>
<br/><br/>	
<div class="portlet-msg-info">
To use the SSO IFrame Demo with URL-based authentication, you will need to enter the following SSO<br/>
Principal and Credential for the <b>/demo/sso-demo</b> site as the demo will take the authenticated principal <br/>
currently logged in as the SSO Principal, and *always* require the SSO Credential listed below<br/>
If a user is not authenticated, you must supply the SSO Principal name <b>'guest'</b>.<br/>
</div>
<br/>
<table border="1" cellspacing="1" cellpadding="3">
<tr>
<th class="portlet-section-header">SSO Principal</th>	
<th class="portlet-section-header">SSO Credential</th>
</tr>
<tr>
<td class='portlet-section-body'>(current authenticated username)</td>	
<td class='portlet-section-body'>secret-password</td>
</tr>
</table>	
