<h1>SSO IFrame Help</h1>
<p>
The following preferences can be used with the SSO IFrame Portlet in addition to the standard IFrame preferences 
</p>
<p>
<table border="1" cellspacing="1" cellpadding="3">
<tr>
<th class="portlet-section-body">Preference</th>	
<th class="portlet-section-body">Usage</th>
</tr>
<tr>
<td class='portlet-section-body'>sso.type</td>	
<td class='portlet-section-body'>The type of Single signon authentication. Valid values: form | basic | basic.preemptive | url | url.base64</td>
</tr>
<tr>
<td class='portlet-section-body'>sso.url.Credential</td>	
<td class='portlet-section-body'>The name of the credential input field or parameter</td>
</tr>
<tr>
<td class='portlet-section-body'>sso.url.Principal</td>	
<td class='portlet-section-body'>The name of the user name input field or parameter</td>
</tr>
<tr>
<td class='portlet-section-body'>SSO Principal</td>	
<td class='portlet-section-body'>The actual user name</td>
</tr>
<tr>
<td class='portlet-section-body'>SSO Credential</td>	
<td class='portlet-section-body'>The actual crendential value</td>
</tr>
</table>	
</p>
