<style type="text/css">
		table {
			font-family:Lucida Grande, Verdana;
			font-size:0.8em;
			width:100%;
			border:1px solid #ccc;
			cursor:default;
		}

		* html div.tableContainer {	/* IE only hack */
			width:95%;
			border:1px solid #ccc;
			height: 285px;
			overflow-x:hidden;
			overflow-y: auto;
		}

		table td,
		table th{
			border-right:1px solid #999;
			padding:2px;
			font-weight:normal;
		}
		table thead td, table thead th {
			background:#94BEFF;
		}
		
		* html div.tableContainer table thead tr td,
		* html div.tableContainer table thead tr th{
			/* IE Only hacks */
			position:relative;
			top:expression(dojo.html.getFirstAncestorByTag(this,'table').parentNode.scrollTop-2);
		}
		
		html>body tbody.scrollContent {
			height: 262px;
			overflow-x:hidden;
			overflow-y: auto;
		}

		tbody.scrollContent td, tbody.scrollContent tr td {
			background: #FFF;
			padding: 2px;
		}

		tbody.scrollContent tr.alternateRow td {
			background: #e3edfa;
			padding: 2px;
		}

		tbody.scrollContent tr.selected td {
			background: yellow;
			padding: 2px;
		}
		tbody.scrollContent tr:hover td {
			background: #a6c2e7;
			padding: 2px;
		}
		tbody.scrollContent tr.selected:hover td {
			background: #ff3;
			padding: 2px;
		}
	</style>

<div dojoType="LayoutContainer"
    layoutChildPriority='top-bottom'
    style="width: 100%; height: 250px">
    <div dojoType="SplitContainer"
        orientation="horizontal"
        sizerWidth="5"
        activeSizing="0"
        layoutAlign="client"
    >
 
<div id="mainTabContainer" dojoType="TabContainer" style="width: 100%; height: 100%" selectedTab="portlets">

<div id="portlets" dojoType="ContentPane" label="Portlets">
<table dojoType="SortableTable" widgetId="portletTable" headClass="fixedHeader" tbodyClass="scrollContent" enableMultipleSelect="true" enableAlternateRows="true" rowAlternateClass="alternateRow" cellpadding="0" cellspacing="0" border="0">
<thead>
<tr>
    <th field="name" dataType="String">Resource</th>
    <th field="actions" dataType="String">Actions</th>
</tr>
</thead>
<tbody>
#foreach($permission in $portletPermissions)
<tr><td>$permission.Name</td><td>$permission.Actions</td></tr>
#end
</tbody>
</table>
</div>
<div id="folders" dojoType="ContentPane" label="Folders">
<table dojoType="SortableTable" widgetId="folderTable" headClass="fixedHeader" tbodyClass="scrollContent" enableMultipleSelect="true" enableAlternateRows="true" rowAlternateClass="alternateRow" cellpadding="0" cellspacing="0" border="0">
<thead>
<tr>
    <th field="name" dataType="String">Resource</th>
    <th field="actions" dataType="String">Actions</th>
</tr>
</thead>
<tbody>
#foreach($permission in $folderPermissions)
<tr><td>$permission.Name</td><td>$permission.Actions</td></tr>
#end
</tbody>
</table>
</div>
<div id="pages" dojoType="ContentPane" label="Pages">
<table dojoType="SortableTable" widgetId="pageTable" headClass="fixedHeader" tbodyClass="scrollContent" enableMultipleSelect="true" enableAlternateRows="true" rowAlternateClass="alternateRow" cellpadding="0" cellspacing="0" border="0">
<thead>
<tr>
    <th field="name" dataType="String">Resource</th>
    <th field="actions" dataType="String">Actions</th>
</tr>
</thead>
<tbody>
#foreach($permission in $pagePermissions)
<tr><td>$permission.Name</td><td>$permission.Actions</td></tr>
#end
</tbody>
</table>
</div>

</div>


        <div dojoType="Tree" publishSelectionTopic="treeSelected" toggle="fade"
             sizeMin="20" sizeShare="20">
            <div dojoType="TreeNode" title="Item 1">
                <div dojoType="TreeNode" title="Item 1.1"><br/></div> 
                <div dojoType="TreeNode" title="Item 1.2">
                    <div dojoType="TreeNode" title="Item 1.2.1"></div>
                    <div dojoType="TreeNode" title="Item 1.2.2"></div>
                </div>
                <div dojoType="TreeNode" title="Item 1.3">
                    <div dojoType="TreeNode" title="Item 1.3.1"></div>
                    <div dojoType="TreeNode" title="Item 1.3.2"></div>
                </div>
                <div dojoType="TreeNode" title="Item 1.4">
                    <div dojoType="TreeNode" title="Item 1.4.1"></div>
                </div>
            </div>
        </div>

</div>

<script type="text/javascript">
function processTableRowEvent(e, tableName)
{
    alert( tableName + ", " + e.currentTarget.cells.item(0).innerHTML ); 
}
function addTableRowSelectListener()
{
    dojo.event.connect(dojo.widget.byId("portletTable"), "onSelect", function(e) {
        //dojo.debugShallow( e.currentTarget );
        processTableRowEvent(e, "portletTable");
    });
    dojo.event.connect(dojo.widget.byId("folderTable"), "onSelect", function(e) {
        //dojo.debugShallow( e.currentTarget );
        processTableRowEvent(e, "folderTable");
    });
    dojo.event.connect(dojo.widget.byId("pageTable"), "onSelect", function(e) {
        //dojo.debugShallow( e.currentTarget );
        processTableRowEvent(e, "pageTable");
    });
}
dojo.addOnLoad( window.addTableRowSelectListener );
</script>
