<style type="text/css">
		table {
			font-family:Lucida Grande, Verdana;
			font-size:0.8em;
			width:100%;
			border:1px solid #ccc;
			cursor:default;
		}

		* html div.tableContainer {	/* IE only hack */
			width:95%;
			border:1px solid #ccc;
			height: 285px;
			overflow-x:hidden;
			overflow-y: auto;
		}

		table td,
		table th{
			border-right:1px solid #999;
			padding:2px;
			font-weight:normal;
		}
		table thead td, table thead th {
			background:#94BEFF;
		}
		
		* html div.tableContainer table thead tr td,
		* html div.tableContainer table thead tr th{
			/* IE Only hacks */
			position:relative;
			top:expression(dojo.html.getFirstAncestorByTag(this,'table').parentNode.scrollTop-2);
		}
		
		html>body tbody.scrollContent {
			height: 262px;
			overflow-x:hidden;
			overflow-y: auto;
		}

		tbody.scrollContent td, tbody.scrollContent tr td {
			background: #FFF;
			padding: 2px;
		}

		tbody.scrollContent tr.alternateRow td {
			background: #e3edfa;
			padding: 2px;
		}

		tbody.scrollContent tr.selected td {
			background: yellow;
			padding: 2px;
		}
		tbody.scrollContent tr:hover td {
			background: #a6c2e7;
			padding: 2px;
		}
		tbody.scrollContent tr.selected:hover td {
			background: #ff3;
			padding: 2px;
		}
	</style>
<div dojoType="LayoutContainer"
    layoutChildPriority="left-right"
    style="width: 100%; height: 250px">
    <div dojoType="SplitContainer"
        orientation="horizontal"
        sizerWidth="5"
        activeSizing="0"
        layoutAlign="client"
    >
 
<div id="mainTabContainer" dojoType="TabContainer" style="width: 100%; height: 100%" selectedTab="portlets">

<div id="portlets" dojoType="ContentPane" label="Portlets">
<table dojoType="SortableTable" widgetId="portletTable" headClass="fixedHeader" tbodyClass="scrollContent" enableMultipleSelect="true" enableAlternateRows="true" rowAlternateClass="alternateRow" cellpadding="0" cellspacing="0" border="0">
<thead>
<tr>
    <th field="name" dataType="String">Resource</th>
    <th field="actions" dataType="String">Actions</th>
    <th field="roles" dataType="String">Roles</th>        
</tr>
</thead>
<tbody>
#foreach($p in $portletPermissions)
<tr><td>$p.Permission.Name</td><td>$p.Permission.Actions</td><td>$p.Roles</td></tr>
#end
</tbody>
</table>
</div>
<div id="folders" dojoType="ContentPane" label="Folders">
<table dojoType="SortableTable" widgetId="folderTable" headClass="fixedHeader" tbodyClass="scrollContent" enableMultipleSelect="true" enableAlternateRows="true" rowAlternateClass="alternateRow" cellpadding="0" cellspacing="0" border="0">
<thead>
<tr>
    <th field="name" dataType="String">Resource</th>
    <th field="actions" dataType="String">Actions</th>
    <th field="roles" dataType="String">Roles</th>        
</tr>
</thead>
<tbody>
#foreach($p in $folderPermissions)
<tr><td>$p.Permission.Name</td><td>$p.Permission.Actions</td><td>$p.Roles</td></tr>
#end
</tbody>
</table>
</div>
<div id="pages" dojoType="ContentPane" label="Pages">
<table dojoType="SortableTable" widgetId="pageTable" headClass="fixedHeader" tbodyClass="scrollContent" enableMultipleSelect="true" enableAlternateRows="true" rowAlternateClass="alternateRow" cellpadding="0" cellspacing="0" border="0">
<thead>
<tr>
    <th field="name" dataType="String">Resource</th>
    <th field="actions" dataType="String">Actions</th>
    <th field="roles" dataType="String">Roles</th>    
</tr>
</thead>
<tbody>
#foreach($p in $pagePermissions)
<tr><td>$p.Permission.Name</td><td>$p.Permission.Actions</td><td>$p.Roles</td></tr>
#end
</tbody>
</table>
</div>

</div>

<div dojoType="LayoutContainer"
     layoutChildPriority='none'
     style="width: 100%; height: 155px; border: 1px solid grey;"
>


<div dojoType="LayoutContainer"
	widgetId="resourceNameContainer"
	minHeight="20"
    layoutAlign="top"
	style="padding: 4px; border-bottom: thin inset grey; width: 100%; height: 55px"
>
<b>Resource</b><br/>
<input name="resourceName" id="resourceName" type="text" size="50" >
</div>

<div dojoType="LayoutContainer"
	widgetId="rolesContainer"
	minHeight="20"
    layoutAlign="left"
	style="padding: 4px; border-right: thin inset grey; width: 50%; height: 100px; overflow-y: auto; overflow-x: hidden"
>
    <b>Roles</b><br/>
#foreach ($role in $roles)
    <input type="checkbox" name="role_$velocityCount" id="role_$velocityCount" dojoType="Checkbox" /> <label for="role_$velocityCount">$role.Principal.Name</label><br />
#end
</div>

<div dojoType="LayoutContainer"
	widgetId="actionsContainer"
	minHeight="20"
    layoutAlign="left"
	style="padding: 4px; width: 50%; height: 100px; overflow-y: auto; overflow-x: hidden"
>
    <b>Actions</b><br/>
    <input type="checkbox" name="actionview" id="actionview" dojoType="Checkbox" /> <label for="actionview">View</label><br />
    <input type="checkbox" name="actionedit" id="actionedit" dojoType="Checkbox" /> <label for="actionedit">Edit</label><br />
    <input type="checkbox" name="actionhelp" id="actionhelp" dojoType="Checkbox" /> <label for="actionhelp">Help</label><br />
</div>

</div>

</div>

<script language="JavaScript" type="text/javascript">
    rolePrincipals = new Array();
#foreach ($role in $roles)
    rolePrincipals.push( "$role.Principal.Name" );
#end
</script>
<script type="text/javascript">
function processTableRowEvent(e, tableName)
{
    var resourceName = e.currentTarget.cells.item(0).innerHTML;
    var resourceTextBox = dojo.byId( "resourceName" );
    resourceTextBox.value = resourceName;

    var actions = e.currentTarget.cells.item(1).innerHTML;
    var actionsList = actions.split( new RegExp( " *, *" ) );
    dojo.byId( "actionview" ).checked = false;
    dojo.widget.byId( "actionview" ).updateImgSrc();
    dojo.byId( "actionedit" ).checked = false;
    dojo.widget.byId( "actionedit" ).updateImgSrc();
    dojo.byId( "actionhelp" ).checked = false;
    dojo.widget.byId( "actionhelp" ).updateImgSrc();
    if ( actionsList )
    {
        for ( var i = 0 ; i < actionsList.length ; i++ )
        {
            var checkboxNode = dojo.byId( "action" + actionsList[i] );
            if ( checkboxNode != null )
            {
                checkboxNode.checked = true;
                dojo.widget.byId( "action" + actionsList[i] ).updateImgSrc();
            }
        }
    }
    
    var roles = e.currentTarget.cells.item(2).innerHTML;
    var rolesList = roles.split( new RegExp( " *, *" ) );
    for ( var i = 0 ; i < rolePrincipals.length; i++ )
    {
        var roleIndex = i + 1;
        dojo.byId( "role_" + roleIndex ).checked = false;
        dojo.widget.byId( "role_" + roleIndex ).updateImgSrc();
    }
    if ( rolesList )
    {
        for ( var i = 0 ; i < rolesList.length ; i++ )
        {
            var tRole = rolesList[i];
            for ( var j = 0 ; j < rolePrincipals.length; j++ )
            {
                if ( tRole == rolePrincipals[j] )
                {
                    var roleIndex = j + 1;
                    dojo.byId( "role_" + roleIndex ).checked = true;
                    dojo.widget.byId( "role_" + roleIndex ).updateImgSrc();
                }
            }
        }
    }
    
    selectedResourceRow = e.currentTarget;
    selectedResourceData = [ resourceName, actions, roles ];
    
    //alert( tableName + ", " + e.currentTarget.cells.item(0).innerHTML ); 
    //alert( tableName + ", " + e.currentTarget.cells.item(1).innerHTML ); 
    //alert( tableName + ", " + e.currentTarget.cells.item(2).innerHTML );
}
function updateSelectedRow()
{   // update selected row without re-render - DOESN'T WORK YET
    dojo.debug( "updateSelectedRow" );
    if ( selectedResourceRow != null )
    {   // SortableTable allows for way of updating with nice objects and then re-rendering - but it resorts and the selected row can change
        // will revise when more time is available - this is a sick hack
        currentTarget.cells.item(0).innerHTML = dojo.byId( "resourceName" ).value;
        
        var updatedActions = "";
        if ( dojo.byId( "actionview" ).checked )
        {
            if ( updatedActions.length > 0 )
                updatedActions += ", ";
            updatedActions += "view";
        }
        if ( dojo.byId( "actionedit" ).checked )
        {
            if ( updatedActions.length > 0 )
                updatedActions += ", ";
            updatedActions += "edit";
        }
        if ( dojo.byId( "actionhelp" ).checked )
        {
            if ( updatedActions.length > 0 )
                updatedActions += ", ";
            updatedActions += "help";
        }
        for ( var i = 0 ; i < rolePrincipals.length; i++ )
        {
            var roleIndex = i + 1;
            if ( dojo.byId( "role_" + roleIndex ).checked )
            {
                if ( i > 0 )
                    updatedRoles += ",";
                updatedRoles += rolePrincipals[i];
            }
        }
        currentTarget.cells.item(2).innerHTML = updatedRoles;

        var updatedRoles = "";
        for ( var i = 0 ; i < rolePrincipals.length; i++ )
        {
            var roleIndex = i + 1;
            if ( dojo.byId( "role_" + roleIndex ).checked )
            {
                if ( i > 0 )
                    updatedRoles += ",";
                updatedRoles += rolePrincipals[i];
            }
        }
        currentTarget.cells.item(2).innerHTML = updatedRoles;
    }
}

function addTableRowSelectListener()
{
    dojo.event.connect(dojo.widget.byId("portletTable"), "onSelect", function(e) {
        //dojo.debugShallow( e.currentTarget );
        processTableRowEvent(e, "portletTable");
    });
    dojo.event.connect(dojo.widget.byId("folderTable"), "onSelect", function(e) {
        //dojo.debugShallow( e.currentTarget );
        processTableRowEvent(e, "folderTable");
    });
    dojo.event.connect(dojo.widget.byId("pageTable"), "onSelect", function(e) {
        //dojo.debugShallow( e.currentTarget );
        processTableRowEvent(e, "pageTable");
    });
}
dojo.addOnLoad( window.addTableRowSelectListener );
</script>
