
<script language="JavaScript" type="text/javascript">
    function portletGoogleMapsLoadMap()
    {
        var loc = escape("$renderRequest.getPreferences().getValue('Location','')");
        var getLatitudeLongitudeUrl = "$renderRequest.getScheme():\/\/$renderRequest.getServerName():$renderRequest.getServerPort()$renderRequest.getContextPath()\/yahoogeocode?location=" + loc ;
        dojo.io.bind({
		    url: getLatitudeLongitudeUrl,
		    mimetype: "text/xml",
		    error: function(type, error){
			    dojo.raise( "request failed for yahoo latitude-longitude  type=" + type + " error=" + error );
            },
            load: function( type, data, evt )
            {
			    lat = data.getElementsByTagName("Latitude").item(0).firstChild.nodeValue;
			    lng = data.getElementsByTagName("Longitude").item(0).firstChild.nodeValue;
			    //alert ("ll: " + lat + "," + lng);
			    mapit(lat,lng);
		    }
	    });
    }
    function portletGoogleMapsLoadApi()
    {
        var googleMapsApiJSUrl = "http://maps.google.com/maps?file=api&v=2&key=$renderRequest.getPreferences().getValue('APIKey','')" ; 
        dojo.io.bind({
		    url: googleMapsApiJSUrl,
            mimetype: "text/javascript",
            transport: "ScriptSrcTransport",
		    error: function(type, error){
			    alert( "here-error" );
                dojo.raise( "request failed for google maps api  type=" + type + " error=" + error );
            },
            load: function( type, data, evt )
            {
                alert( "here-success" );
                portletGoogleMapsLoadMap();
		    }
	    });
    }
    dojo.addOnLoad( portletGoogleMapsLoadMap ) ;
</script>
<script language="JavaScript" type="text/javascript">
	function mapit(la, ln) {
		var map = new GMap2(document.getElementById("map"));
map.addControl(new GSmallMapControl());
		map.addControl(new GMapTypeControl());
		map.setCenter(new GLatLng(la, ln), 13);
	}
</script>
<div id="map" style="width: 100%; height: $renderRequest.getPreferences().getValue('MapHeight','400px')"></div>

