<script language="JavaScript" type="text/javascript">
	loc = escape("$renderRequest.getPreferences().getValue('Location','')");
	dojo.io.bind({
		url: "$renderRequest.getScheme():\/\/$renderRequest.getServerName():$renderRequest.getServerPort()$renderRequest.getContextPath()\/yahoogeocode?location=" + loc,
		mimetype: "text/xml",
		error: function(type, error){
			top.alert("error");
		},
		load: function(type, data, event) {
			lat = data.getElementsByTagName("Latitude").item(0).firstChild.nodeValue;
			lng = data.getElementsByTagName("Longitude").item(0).firstChild.nodeValue;
			//alert ("ll: " + lat + "," + lng);
			mapit(lat,lng);
		}
	});
</script>
<script language="JavaScript" type="text/javascript">
	function mapit(la, ln) {
		var map = new GMap2(document.getElementById("map"));
map.addControl(new GSmallMapControl());
		map.addControl(new GMapTypeControl());
		map.setCenter(new GLatLng(la, ln), 13);
	}
</script>
<div id="map" style="width: 100%; height: 100%"></div>


