#*
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*#
Hello $!{map.get("user.name.given")} $!{map.get("user.name.family")}:

Welcome to Jetspeed! 
Thanks you for registering.  Jetspeed is a powerful component based
portlet container system conforming to JSR-168.

Your username is: $!{map.get("user.name")}
Your password is: $!{map.get("password")}

You may change your password online. Follow the link to login:
$!{map.get("returnURL")}

Thanks

