    <dependency>
      <id>cglib</id>
      <version>2.0.1</version>
      <properties>
        <war.bundle>true</war.bundle>
      </properties>
    </dependency>
    <dependency>
      <id>springframework:spring-core</id>
      <version>1.1.1</version>
      <properties>
        <war.bundle>true</war.bundle>
      </properties>
    </dependency>
    <dependency>
      <id>springframework:spring-aop</id>
      <version>1.1.1</version>
      <properties>
        <war.bundle>true</war.bundle>
      </properties>
    </dependency>
     <dependency>
      <id>springframework:spring-context</id>
      <version>1.1.1</version>
      <properties>
        <war.bundle>true</war.bundle>
      </properties>
    </dependency>
    <dependency>
      <id>springframework:spring-dao</id>
      <version>1.1.1</version>
      <properties>
        <war.bundle>true</war.bundle>
      </properties>
    </dependency>
    <dependency>
      <id>springframework:spring-orm</id>
      <version>1.1.1</version>
      <properties>
        <war.bundle>true</war.bundle>
      </properties>
    </dependency>
    <dependency>
      <id>aopalliance</id>
      <version>1.0</version>
      <properties>
        <war.bundle>true</war.bundle>
      </properties>
    </dependency>
    <dependency>
      <id>oro</id>
      <version>2.0.7</version>
      <properties>
        <war.bundle>true</war.bundle>
      </properties>
    </dependency>