<div class="portletSelectorFloatingPane">
  <div class="portletSelectorTitleBar">
    <img class="portletSelectorTitleBarIcon" dojoAttachPoint="itemIcon">
    <div class="portletSelectorTitleText" dojoAttachPoint="itemText"></div>
    <div class="portletSelectorTitleBarControlIcon portletSelectorTitleBarCloseIcon" ></div>
    <div class="portletSelectorTitleBarControlIcon portletSelectorTitleBarMaximizeIcon" ></div>
    <div class="portletSelectorTitleBarControlIcon portletSelectorTitleBarMinimizeIcon" ></div>
  </div>
  <div class="portletSelectorFloatingPaneClient">
  </div>
  <div class="portletSelectorFloatingPaneResizebar">
    <div class="portletSelectorResizeHandle"></div>
  </div>
</div>
