.jsLeftToolbar {
	width: 200px;
	height: 600px;
}
.jsMainarea {
	background:#ffffff;
	width: 100%;
}
.jsRightToolbar {
	width: 200px;
	height: 600px;
	float: right;
}
.moving {
    background-color: #bebcbc;
    border: 1px dotted black;
}

.jstbToggle1 {
    background:transparent url("layout_sprite.png") no-repeat -20px -120px;
	height: 14px;
    width: 18px;
}
.jstbToggle2 {
    background:transparent url("layout_sprite.png") no-repeat -20px -140px;
	height: 14px;
    width: 18px;    
}
#jsNavigator 	{
	z-index: 100;
	width: 192px;
}
#jsToolbox 	{
	z-index: 100;
	width: 192px;
}
.PTitle
{
   cursor: move;
}
