<div>
  #foreach($node in $_nodeSet.iterator()) 
    #if($node.type == ".psml")
      <div><a href="$jetspeed.getAbsoluteUrl($node.url)" class="LinkPage" title="$node.getTitle($preferedLocale)">$node.getShortTitle($preferedLocale)</a></div>
    #elseif($node.type == ".link")
      <div><a href="$node.url" target="$node.target" class="Link" title="$node.getTitle($preferedLocale)">$node.getShortTitle($preferedLocale)</a></div>
    #elseif($node.type == "folder")
      <div><a href="$jetspeed.getAbsoluteUrl($node.url)" class="LinkFolder" title="$node.getTitle($preferedLocale)">$node.getShortTitle($preferedLocale)</a></div>
    #elseif($node.type == ".ds")
      <div class="pagetitle" title="$node.getTitle($preferedLocale)">${node.getShortTitle($preferedLocale)}</div>
      #set($__nodePrefix = "${_nodePrefix}${node.url}")
      #set($__nodeSet = $profiledPageContext.getDocumentSetNodes($__nodePrefix))
      #includeNestedNavigation($_name $__nodeSet $_orientation $__nodePrefix)
    #else
      <div><a href="$node.url" title="$node.getTitle()">$node.getShortTitle()</a></div>
    #end
  #end
</div>
