; Jetspeed Enterprise Portal 2.2-SNAPSHOT Database setup configuration

; db.type supported values: db2, derby, mssql, mysql, oracle, postgres, sapdb
db.type=@db.type@

: for db.type other than derby, the properties below need to be specified
db.username=@db.username@
db.password=@db.password@
jdbc.url=@jdbc.url@
jdbc.driver.class=@jdbc.driver.class@

; boolean flag (true/false) indicating if psml is to be imported in the database or will be read from file system
dbImportPsml = @dbImportPsml@
