#macro (traverseFragments $f)
    <fragment id="$f.Id" type="$f.Type" name="$f.Name" decorator="$!f.Decorator">
    #foreach ($prop in $f.getProperties().entrySet())
      <property name="$prop.Key" value="$prop.Value" />
	#end
	#foreach ($pref in $f.Preferences)
		<preference name="$pref.Name" readOnly='$pref.isReadOnly()'>		
		  #foreach ($value in $pref.ValueList)
		    <value>$value</value>
		  #end
		</preference>
	#end
    #if($f.Type == "layout")
		#foreach($subf in $f.Fragments)
        #traverseFragments($subf)
		#end
	#end
    </fragment>                                		
#end

<js>
    <status>$status</status>
    <action>$action</action>
    
<page hidden='$page.Hidden'>
  <defaults
     layout-decorator='$page.getDefaultDecorator("layout")'
     portlet-decorator='$page.getDefaultDecorator("portlet")'
  />
  <name>$page.Name</name>
  <path>$page.Path</path>
  <title>$page.Title</title>
  <short-title>$page.ShortTitle</short-title>
  
  #foreach ($meta in $page.Metadata.Fields)
	<metadata name="$meta.Name" xml:lang="$meta.Locale.Language">$meta.Value</metadata>
  #end
    
  #traverseFragments($page.RootFragment)
  
</page>    

</js>
