
#jetspeedDesktopCell {
   vertical-align: top;
   /* hack of "vertical-align: top" needed by IE once the leftnav was added */
   width: 100%;
   /* needed to honor explicit size of left nav column when windowTiling is false */
}

#jetspeedColumns {
    width: 100%;
}

.desktopColumn {
	float: left;
    /* background-color: transparent; */
}
.desktopColumnClear {
	float: left;
    clear: both;
    /* background-color: transparent; */
}
.columnSpacer { 
    
}
*html .desktopColumn {
	overflow: hidden;
    /* background-color: transparent; */
    /* background-color: #666; */
}

#pwGhost {
	border: 1px dashed #F00;
	margin: 2px;
}

/********** Outer Window ***************/

.dojoFloatingPane {
	/* essential css */
	position: absolute;
    overflow: hidden;		/* dojo says 'visible' with this explanation "so drop shadow is displayed"" */
                            /* we says 'hidden' cause IE likes to kindly expand div to fit content otherwise */
	z-index: 10;

	/* styling css */
	border: 1px solid;
	border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
	background-color: ThreeDFace;
}


/********** Title Bar ****************/

.dojoFloatingPaneTitleBar {
	vertical-align: top;
	margin: 2px 2px 2px 2px;
	z-index: 10;
	background-color: #7596c6;
	cursor: move;
	overflow: hidden;
    height: 22px;
	border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
	vertical-align: middle;
}

.dojoFloatingPaneTitleText {
	float: left;
	padding: 2px 4px 2px 2px;
	white-space: nowrap;
	color: CaptionText;
	font: small-caption;
}

.dojoFloatingPaneActions{
	float: right;
	position: absolute;
	right: 2px;
	top: 2px;
	vertical-align: middle;
}


.dojoFloatingPaneActionItem {
	vertical-align: middle;
	margin-right: 1px;
	height: 22px;
	width: 22px;
}

.portletWindowActionButton {
	vertical-align: middle;
    margin-top: 5px;
	margin-right: 3px;

    cursor: default;

    float: right;

    background-repeat: no-repeat;
    background-position: center center;
}

.portalPageActionButton {
    vertical-align: middle;

    margin-top: 3px; 
	margin-right: 3px;

    cursor: default;

    float: right;

    background-repeat: no-repeat;
    background-position: center center;
}

.dojoFloatingPaneTitleBarIcon {
	/* essential css */
	float: left;

	/* styling css */
    height: 16px;
	width: 16px;
    margin-top: 3px;
    margin-left: 2px;
    margin-right: 3px;
}

/* minimize/maximize icons are specified by CSS only */
.dojoFloatingPaneMinimizeIcon,
.dojoFloatingPaneMaximizeIcon,
.dojoFloatingPaneRestoreIcon,
.dojoFloatingPaneCloseIcon {
	vertical-align: middle;
	height: 22px;
	width: 22px;
	float: right;
    cursor: default;
}

/* bar at bottom of window that holds resize handle */
.dojoFloatingPaneResizebar {
	z-index: 10;
	height: 13px;
	background-color: ThreeDFace;
    /*padding: 0px;
    margin: 0px;*/
}

/************* Client Area ***************/

.dojoFloatingPaneClient {
	position: relative;
	z-index: 10;
	border: 1px solid;
	border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
	margin: 2px;
	background-color: ThreeDFace;
	padding: 8px;
	/*font-family: Verdana, Helvetica, Garamond, sans-serif;
	font-size: 12px;*/
	overflow: auto;
}

