<h2>About the Jetspeed 2.1 Release</h2>
<p>The Jetspeed 2.1 release is the second major release of the Jetspeed-2 portal.</p>

<h3>New Features in Version 2.1</h3>
<ul>
<li>Jetspeed Desktop - Web 2.0 client-side JSR-168 portlet aggregation.</li>
<li>Multithreaded Aggregator - multithreaded portlet aggregator with portlet timeout tracking, removal of slow rendering portlets.</li>
<li>Jetspeed Distributed Cluster - support for distributed deployments of the portal on multiple application server platforms</li>
<li>JSR 168 Caching - full caching support of JSR 168 portlet specification, distributed cache invalidation</li>
<li>TCK Compliant as of 2.1 (2.0 was compliant as well)</li>
<li>New and Improved Administrative and Security Portlets</li>
<li>XML Schemas for PSML, jetspeed-portlet.xml, and Jetspeed XML (seed data)</li>
<li>Installation choice of either Demo Portal or Minimal Starter Portal</li>
<li>Maven-2 Build as well as Maven-1</li>
<li>Remote Portal Application Deployer - deploy portlet applications from remote locations on the Web</li>
<li>Improved Customizers, Portal and Desktop Customizers, drag and drop moving of portlets, nested fragment customization</li>
<li>New Portlet Category Selector</li>
<li>XML Import/Export of all Jetspeed database data and seed data scripts for backup and restore and data migration</li>
<li>Improved Security Control - fully swappable Security Constraint or Security Permission support</li>
<li>Portlet-level Security checks based on Security Constraints or Security Permissions</li> 
<li>Improved Jetspeed AJAX API</li>
<li>Improved Delegation of Security Support</li>
<li>New Site Manager</li>
</ul>


