<h2>Welcome to Jetspeed</h2>
<p>
Jetspeed is an Open Portal Platform and Enterprise Information Portal, written all in open source under the Apache license in Java and XML.
Jetspeed is an open component architecture based on standards. All access to the portal is managed through a robust portal security policy.
Within a Jetspeed portal, individual portlets can be aggregated to create a page. Each portlet is an independent application with 
Jetspeed acting as the central hub making information from multiple sources available in an easy to use manner.
</p>
<p>
A portal based on Jetspeed can make applications, database information and other data sources available to end-users through a single web site. 
Jetspeed provides a security infrastructure so that the information and functions made available to each user can be customized on basis of the
 user or a role that the user has. The user can access the portal via a web browser, WAP-phone, pager or any other device supported by the servlet engine.
</p>
<p>
Content held in a wide variety of formats such as XML, RSS or database tables can be integrated within a Jetspeed page. 
The actual presentation of the data is handled via XSL and delivered to the user via combinations of data presentation tools 
such as Java Server Pages (JSPs), Velocity and HTML. 
</p>
<p>
To find out more about the latest Jetspeed news, check out our websites...
<ul>
<li><a href="http://portals.apache.org/jetspeed-2/" target='_blank'>Jetspeed Website</a></li>
<li><a href="http://wiki.apache.org/portals/Jetspeed2/" target='_blank'>Jetspeed Wiki</a></li>
<li><a href="http://portals.apache.org/" target='_blank'>Apache Portals</a></li>
<li><a href="http://portals.apache.org/bridges/" target='_blank'>Apache Portals Bridges</a></li>
<li><a href="http://www.apache.org/" target='_blank'>Apache Software Foundation</a></li>
</ul>
</p>
