<h2>Welcome to Jetspeed</h2>
<p>
Jetspeed, is an open portal platform for true enterprise
integration, based on an open component architecture and Java standards. The
end result is an integrator's dream enterprise portal. Some very large
organizations have switched over from large and expensive portal
solutions to Jetspeed to develop mission-critical portal
projects. </p>
<p>
Portals are the ultimate end-user integration points for communities
or businesses. Jetspeed-2 is designed to make application integration
easy. The Jetspeed API provides the clear assembly and interception
points for component building and integration.
</p>
<p>
Apache License
</p>
<p>
To find out more about the latest Jetspeed news, check out our websites...
<ul>
<li><a href="http://portals.apache.org/jetspeed-2/">Jetspeed Website</a></li>
<li><a href="http://wiki.apache.org/portals/Jetspeed2/">Jetspeed Wiki</a></li>
<li><a href="http://portals.apache.org/">Apache Portals</a></li>
<li><a href="http://portals.apache.org/bridges/">Apache Portals Bridges</a></li>
<li><a href="http://www.apache.org/">Apache Software Foundation</a></li>
</ul>
</p>
