こんにちは、$!{map.get("user.name.family")} $!{map.get("user.name.given")} さん

ご利用のアカウントに関する新規パスワード作成依頼を受け付けました。
アカウントユーザー名: $!{map.get("username")}
新規パスワード: $!{map.get("password")}
新規パスワードを有効にするためには、以下のリンクをクリックしてください。
$!{map.get("returnURL")}
もし、謝ってこのメールを受け取った場合や、パスワードを更新したくない場合は、
上のリンクをクリックしないでください。クリックしなければ、ご利用のアカウントで
現在のパスワードが保持されます。

以上をよろしくお願いいたします。

Jetspeed チーム

