<div class="FolderList">
  #foreach($childFolder in $_nodeSet.iterator())
  <span><a href="$jetspeed.getAbsoluteUrl($childFolder.url)" class="FolderLink">$childFolder.metaData.getTitle($preferedLocale)</a></span>		
  #end
</div>
