#macro (defineLayoutObjects)
  #set($_layoutDecorator = $myPage.getDefaultDecorator("layout"))
  #set($_layoutDecoratorConfig = $jetspeed.getTypeConfiguration("layout", "${_layoutDecorator}", "decorations"))
  #set($_layoutBaseCssClass = $_layoutDecoratorConfig.getString("base.css.class"))
  #set($preferedLocale = $JS2RequestContext.locale)
#end

#* Adds link for all style sheets required by the layout and portlet decorations *#
#macro (includeStyleSheets)
 #set($cssUrls = $renderRequest.getAttribute("cssUrls"))
 #foreach($cssUrl in $cssUrls)    
	<link rel="stylesheet" type="text/css" media="all" href="$cssUrl" />
 #end
#end
