<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>jetspeed</servlet-name>
    <servlet-class>org.apache.jetspeed.engine.JetspeedServlet</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>/WEB-INF/conf/jetspeed.properties</param-value>
    </init-param>
    <init-param>
      <param-name>configuration</param-name>
      <param-value>/WEB-INF/conf/jetspeed-configuration.xml</param-value>
    </init-param>
    <init-param>
      <param-name>applicationRoot</param-name>
      <param-value>webContext</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>JetspeedContainer</servlet-name>
    <display-name>Jetspeed Container</display-name>
    <description>MVC Servlet for Jetspeed Portlet Applications</description>
    <servlet-class>org.apache.jetspeed.container.JetspeedContainerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
       <servlet-name>
          jetspeed
       </servlet-name>
       <url-pattern>
         /portal/*
       </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
       <servlet-name>
          jetspeed
       </servlet-name>
       <url-pattern>
         /jetspeed/*
       </url-pattern>
    </servlet-mapping>    

    <servlet-mapping>
        <servlet-name>JetspeedContainer</servlet-name>
        <url-pattern>/container/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JetspeedContainer</servlet-name>
        <url-pattern>/container/*</url-pattern>
    </servlet-mapping>

  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Protect LogInRedirectory.jsp.  This will require a login when called --> 
  <security-constraint> 
    <web-resource-collection> 
      <web-resource-name>Login</web-resource-name> 
      <url-pattern>/LogInRedirector.jsp</url-pattern> 
    </web-resource-collection> 
    <auth-constraint> 
      <role-name>*</role-name> 
    </auth-constraint> 
  </security-constraint> 

  <!-- Login configuration uses form-based authentication -->
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Intranet</realm-name> 
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error.jsp</form-error-page>
    </form-login-config>
  </login-config>

</web-app>
